

<nav>

  <div class="container">
    <div class="navbar sticky-top">

      <div class="container-fluid justify-content-around">

        <div class="dropdown" *ngIf="!hideMenu">
          <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            MENU
          </button>
          <ul class="dropdown-menu">
<!--            <li><a class="dropdown-item" href="#">MaListe</a></li>-->
<!--            <li><a class="dropdown-item" href="#">rechercher</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Se déconnecter</a></li>-->
            <li><a class="dropdown-item" [routerLink]="['maListe']">Ma liste</a></li>
            <li><a class="dropdown-item" [routerLink]="['mesPreferences']">Mes préférences</a></li>
            <li><a class="dropdown-item" [routerLink]="['search']">Rechercher</a></li>
            <li><a class="dropdown-item" href="#">Se déconnecter</a></li>
          </ul>
        </div>

        <a class="navbar-brand" href="#">
          <div>
            <img
              width="40"
              alt="le logo de l'applicatif ideflix representant une tete de chien"
              src="assets/images/logo_idefix.jpg"
              class="d-inline-block align-text-top">
            IDEFLIX
          </div>
        </a>

        <div>
          <p>Bienvenue !!</p>
        </div>


      </div>

    </div>
  </div>

</nav>


<!-- barre de navigation -->
<!--<div class="navbar">-->

<!--  <div class = "container-fluid">-->

<!--    <a class="navbar-brand" href="#">-->
<!--      <div>-->
<!--        <img-->
<!--          width="40"-->
<!--          alt="idefix logo"-->
<!--          src="assets/images/logo_idefix.jpg"-->
<!--          class="d-inline-block align-text-top">-->
<!--        {{ title }}-->
<!--      </div>-->
<!--    </a>-->
<!--    <div>-->
<!--      <p>Bienvenue !!</p>-->
<!--    </div>-->
<!--    <div class="dropdown">-->
<!--      <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--        MENU-->
<!--      </button>-->
<!--      <ul class="dropdown-menu">-->
<!--        <li><a class="dropdown-item" href="#">MaListe</a></li>-->
<!--        <li><a class="dropdown-item" href="#">rechercher</a></li>-->
<!--        <li><a class="dropdown-item" href="#">Se déconnecter</a></li>-->
<!--      </ul>-->
<!--    </div>-->

<!--  </div>-->

<!--</div>-->
