<div class="container-xl mx-auto pt-3">
  <h1 class="text-center text-white">Liste des utilisateurs</h1>
  <div class="pt-3 pb-5" *ngIf="utilisateurs">
    <div class="card fs-5">
      <div class="card-body">
        <div class="row">
          <div class="col-6 col-lg-2">Nom</div>
          <div class="col-6 col-lg-3">Prénom</div>
          <div class="col-6 col-lg-3">Email</div>
          <div class="col-5 col-lg-3">Rôles</div>
          <div class="col-1 col-lg-1"></div>
        </div>
      </div>
    </div>
    <div *ngFor="let utilisateur of utilisateurs">
      <div class="card my-2 utilisateur">
        <div class="card-body">
          <div class="row fs-6">
            <div class="col-6 col-lg-2">{{utilisateur.nom}}</div>
            <div class="col-6 col-lg-3">{{utilisateur.prenom}}</div>
            <div class="col-6 col-lg-3">{{utilisateur.email}}</div>
            <div class="col-4 col-lg-3">
                <span *ngFor="let role of utilisateur.roles"
                      class="badge rounded-pill text-bg-secondary p-2 m-1">
                  {{displayRole(role.nomRole)}}
                </span>
            </div>
            <div class="col-2 col-lg-1 text-center">

              <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                      [attr.data-bs-target]="'#Modal_'+utilisateur.email">
                <i class="fa-solid fa-trash-can"></i>
              </button>

              <!-- Modal -->
              <div class="modal fade" [attr.id]="'Modal_'+utilisateur.email" tabindex="-1"
                   [attr.aria-labelledby]="'ModalLabel_'+utilisateur.email"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title text-dark fs-5" [attr.id]="'ModalLabel_'+utilisateur.email">Suppression
                        d'un utilisateur</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-start text-dark">
                      Voulez vraiment supprimer {{utilisateur.email}} ?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Non</button>
                      <button type="button" class="btn btn-danger" (click)="supprimerUtilisateur(utilisateur.email)"
                              data-bs-dismiss="modal">
                        Oui
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!--              Fin modal               -->


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="pt-3 pb-5" *ngIf="!utilisateurs">
  Liste des utilisateurs en cours de chargement.
</div>


