<div class="container-fluid">
  <div class = "pt-3 pb-5">
    <h1 class="text-center text-white">Ajouter/Modifier un film</h1>
  </div>

  <div class="d-flex">
    <h1>{{titre}}</h1>
  </div>

  <div class="row">
    <div class="col-6 col-md-4">
      <!--<img [title]="titre" [src]="media.image_paysage | printImg" [alt]="titre" class="rounded w-100"> -->
      <img [title]="titre" [src]="imagePortrait | printImg" [alt]="titre" class="rounded w-100">
    </div>

    <div class="col-12 col-md-6">
      <h2>Genres</h2>
      <span *ngFor="let genre of media.genres" class="badge badge-large rounded-pill text-bg-secondary">
                {{genre.nomGenre}}
      </span>

      <h2>Date de sortie</h2>
      <p>{{media.dateSortie | date:'dd/MM/yyyy'}}</p>

      <h2>Résumé</h2>
      <p>{{media.resume}}</p>

      <h2>Durée</h2>
      <p>{{media.duree | printDuration}}</p>

      <app-star [score]="media.scoreDataBase"></app-star>
    </div>
  </div>

</div>

<app-ajout-media [media]="media" [typeMedia]="typeMedia" (emitterParentDetail)="setAvancement($event)"></app-ajout-media>
