<div class="container-fluid pt-3">
  <app-searchbar></app-searchbar>

  <div class="pt-3 pb-5">
    <div *ngIf="medias.length>0">
      <h1 class="text-center text-white">les suggestions Ideflix selon vos préférences</h1>

      <div class="row">

        <div [routerLink]="['/selection',media.typeMedia, media.idDataBase ]" *ngFor="let media of medias"
             class="col-12 col-md-3">
          <div class="card h-100">


            <img [title]="media.titre" [src]="media.image_paysage | printImg" [alt]="media.titre">
            <div class="card-body">
              <div class = "d-flex justify-content-center align-items-center">
                <h2><span class="badge rounded-pill text-bg-warning">{{ media.typeMedia }}</span></h2>
              </div>
              <h2>{{ media.titre }}</h2>
              <app-star *ngIf="media" [score]="media.scoreDataBase"></app-star>
              <p>{{ media.resume | slice:0:300 }}{{ media.resume.length > 300 ? '...' : '' }}</p>
            </div>

              <div clas="card-footer">
                <span *ngFor="let genre of media.genres" class="badge badge-large rounded-pill text-bg-secondary">
                 {{ genre.nomGenre }}
                </span>
              </div>

          </div>
        </div>
      </div>
      <!--      <app-actionbar (pageSuivanteEvent)="chargerLaSuite()"></app-actionbar>-->
    </div>
    <div class="text-center" *ngIf="medias.length==0">
      <div class="spinner-border text-warning grand-spinner-border" role="status"><i
        class="fa-solid fa-dog grand-chien-border"></i>
        <span class="sr-only">Chargement en cours...</span>
      </div>
    </div>
    <div class="text-center" id="chargement_encours" *ngIf="afficheChargementSuite">
      <div class="spinner-grow text-warning grand-spinner-grow" role="status">
        <i class="fa-solid fa-dog grand-chien-grow"></i>
        <span class="sr-only">Chargement de la suite...</span>
      </div>
    </div>
  </div>


</div>


