<div class="container-fluid pt-3">
    <app-searchbar></app-searchbar>

  <div class = "pt-3 pb-5">
    <h1 class="text-center text-white">les suggestions du moment</h1>

    <ul class="row">

      <li [routerLink]="['/selection',media.typeMedia, media.idDataBase ]" *ngFor="let media of medias" class="col-12 col-md-3" >
        <div class="card">
          <img [title]="media.resume" [src]="media.image_paysage | printImg" [alt]="media.titre">
          <div class="card-body">
            <h2>{{ media.titre }}</h2>
            <span *ngFor="let genre of media.genres"
                  class="badge badge-large rounded-pill text-bg-secondary">
              {{ genre.idDatabase }}
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!--  <app-actionbar></app-actionbar>-->
</div>


