/* You can add global styles to this file, and also import other style files */
@import'~node_modules/bootstrap/dist/css/bootstrap.css';

@import'~node_modules/@fortawesome/fontawesome-free/css/all.min.css';


body {
  font-size: 16px;
  background-color: #230d25;
  color : white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.message-error {
  --mdc-snackbar-container-color: #d04a4a;
}

.message-success {
  --mdc-snackbar-container-color: #33c733;
}

.message-info {
  --mdc-snackbar-container-color: #00c4ff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
