label,
input {
  display: block;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}


form  {
  width: 40%;
}

/*div {*/
/*  margin-bottom: 20px;*/
/*}*/


p.error {
  color:rgb(247, 10, 10);
  font-size: 85%;
  margin: 0;
}

.validation-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: green;
}

.input-group-text {
  border: none; /* Supprime le cadre par défaut */
  background-color: white;
}
