
<!-- barre de navigation -->
<div class="navbar">

  <div class = "container-fluid">

    <a class="navbar-brand" href="#">
      <div>
        <img
          width="40"
          alt="idefix logo"
          src="assets/images/logo_idefix.jpg"
          class="d-inline-block align-text-top">
        {{ title }}
      </div>
    </a>
    <div>
      <p>Bienvenue !!</p>
    </div>
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        MENU
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">MaListe</a></li>
        <li><a class="dropdown-item" href="#">rechercher</a></li>
        <li><a class="dropdown-item" href="#">Se déconnecter</a></li>
      </ul>
    </div>

  </div>

</div>

<router-outlet></router-outlet>
<!--<div class="content" role="main">-->
<!--  <app-accueil></app-accueil>-->
<!--</div>-->



