<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="idefix logo"
    src="assets/images/logo_idefix.jpg"
  />
  <span>Welcome la team Ideflix</span>
    <div class="spacer"></div>

</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <img src="assets/images/idefix-logo.jpg" alt="logo idefix" width="40">

    <span>{{ title }}  is running!</span>

  </div>

  <!-- Resources -->
  <h2>C'est quoi IdeFlix ?</h2>
  <p>une application qui permet de suivre de là où on en est de nos visionnages de films et de séries</p>

  <div class="card-container">


  </div>


  <!-- image d'accueil -->
  <div>
    <img src="assets/images/chiencinema.jpg" alt="chien cinema" >
  </div>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

