
<!--<div class="row">-->

    <mat-form-field class="me-2">
      <mat-label>Saisons</mat-label>
      <mat-select [(value)]="saisonCurrent" (selectionChange)="onChangeSaison()">
        <mat-option *ngFor="let saison of listeSaisons" [value]="saison.numeroSaison">{{saison.libelleSaison}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Episodes</mat-label>
      <mat-select [(value)]="episodeCurrent" (selectionChange)="onChangeEpisode()">
        <mat-option *ngFor="let episode of listeEpisodes" [value]="episode.numeroEpisode">{{episode.libelleEpisode}}</mat-option>
      </mat-select>
    </mat-form-field>

<!--</div>-->


