<div class = "container">
      <form (submit)="OnSubmitAdd($event)">
        <div class="form-group">
          <div class="row d-flex align-items-center">
            <div class="col-md-4">
              <label>Status:</label>
              <select #status class="form-control" [(ngModel)]="nouveauMedia.status" [ngModelOptions]="{standalone: true}">
                <option value="">Tous Status</option>
                <option *ngFor="let status of statusEnum | valuesFromKey" [value]="status">
                  {{ status }}
                </option>
              </select>
            </div>

            <div class="col-md-4">
              <label>Etiquettes :</label>
              <div class="mb-3">
                <button [matMenuTriggerFor]="menu">Ajouter une étiquette</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="createEtiquette()">Créer une étiquette</button>
                  <button *ngFor="let etiquette of etiquettes" mat-menu-item (click)="addEtiquette(etiquette)">{{etiquette.nomTag}}</button>
                </mat-menu>
              </div>

              <div class="mb-3">
                <span *ngFor="let etiquette of nouveauMedia.listTag" class="badge badge-large rounded-pill text-bg-secondary">
                      {{etiquette.nomTag}}
                </span>
              </div>
          </div>
        </div>

        </div>


        <button type="submit" class="btn btn-light">Ajouter à ma liste</button>
      </form>
</div>
