<div class="container-fluid">

  <div class="row">
    <form [formGroup]="preferencesForm" (submit)="onSubmit($event)">
      <input formControlName="email" type="hidden">
      <label for="type">Votre pseudo</label>
      <input type="text" formControlName="pseudo" id="type" />
      <p *ngIf="preferencesForm.controls['pseudo'].hasError('required') && isFormSubmitted"
         class="error">Veuillez renseigner un pseudo</p>

      <div class="checkbox-group" style="margin-top:20px">
        <div class="checkbox-wrap" id="genresContainer" formArrayName="genreList">

          <div class="row">
            <!-- j'utilise formData qui est un getter qui retourne le formArray genres-->
            <ng-container *ngFor="let genre of formData.controls; let i = index; let c = count">
              <div class="col-md-3">
                <!-- formGroupName est l'index du form (1 ou 2 ou 3) -->
                <div class="line" [formGroupName]="i">
                  <!-- formControlName est le nom du champ dans l'objet genre de genres:FormArray-->
                  <input formControlName="checked" type="checkbox" [id]="i" />
                  <label [for]="i">{{genresList[i].nomGenre}}</label>
                </div>
              </div>
              <div class="row" *ngIf="(i + 1 ) % 4 === 0"></div>

            </ng-container>
          </div>

        </div>
      </div>
      <button type="submit" class="btn btn-light">Envoyer</button>
    </form>

  </div>

</div>




