
.container {
}


.navbar {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #b67928;
  color: white;
  font-weight: 600;
}

.navbar img {
  margin: 0 16px;
}


.tooltiptext {
  visibility: hidden !important;

  /* Position the tooltip text - see examples below! */
  position: absolute !important;
  top: 100% !important;
  z-index: 1 !important;
}

/* Show the tooltip text when you mouse over the tooltip container */
.deconnexion:hover .tooltiptext {
  visibility: visible !important;
}
