<!-- Description de l'application -->
<div class="container text-center mt-5">
  <div>
    <h2>C'est quoi IdeFlix ?</h2>
    <img src="../../../../assets/images/idefix-logo.jpg" alt="chien idefix sympathique" width="50">

    <p>Avec IdeFlix, finies les interminables soirées à chercher LE film ou L'ÉPISODE parfait.
      Vous pouvez créer votre liste de films et de séries personnalisée plus rapidement que Flash lui-même.</p>
    <p>Vous êtes d'humeur pour des ninjas dans l'espace ? Allez hop, ajoutez "Ninjas de l'Espace 3000" à votre liste
      !</p>
    <p>Vous voulez pleurer devant des chiots qui chantent des ballades tristes ? Ajoutez "Teckel Blues" illico !</p>
  </div>

  <!-- image d'accueil -->
  <div>
    <img src="../../../../assets/images/chiencinema.jpg" alt="chien qui va au cinema avec pop corn et lunettes 3D">
  </div>

  <!-- navigation vers se connecter et créer un compte  -->
  <div>
    <div class="row justify-content-between">
      <!--        <button routerLink="login" class = "col-4 btn btn-dark">Se Connecter</button>-->
      <!--        <button routerLink="register" class = "col-4 btn btn-dark">Créer un compte</button>-->
      <button [routerLink]="['login']" class="col-4 btn btn-dark">Se Connecter</button>
      <button [routerLink]="['register']" class="col-4 btn btn-dark">Créer un compte</button>
    </div>
  </div>
</div>

