
<div class="container-fluid pt-3">
<!--  <app-searchbar></app-searchbar>-->

  <div class = "pt-3 pb-5">
    <h1 class="text-center text-white">Ma Liste de films et séries</h1>

    <app-ma-liste-filtre (filterEvent)="store($event)"></app-ma-liste-filtre>

<ul class="row">

  <li [routerLink]="['/selection', media.typeMedia, media.media.idTmdb ]" *ngFor="let media of medias" class="col-12 col-md-3">
    <div class="card" routerLink="/selection">
      <img [title]="media.media.titre" [src]="media.media.cheminAffichePortrait | printImg" [alt]="media.media.titre">
      <div class="card-body">
        <h2>{{ media.media.titre }}</h2>
        <span *ngFor="let genre of media.media.genreList"
              class="badge badge-large rounded-pill text-bg-secondary">
                    {{ genre.nomGenre }}
                </span>
        <span *ngFor="let tag of media.etiquetteList"
              class="badge badge-large rounded-pill text-bg-secondary">
                    {{ tag.nomTag }}
                </span>
      </div>
    </div>
  </li>
</ul>
  </div>

<!--  <app-actionbar></app-actionbar>-->
</div>






