<div class="container-fluid pt-3">

  <div class="pt-3 pb-5">
    <h1 class="text-center text-white">Ma Liste de films et séries</h1>


    <div *ngIf="((mediaMaListe$ | async)?.length)">
    <app-ma-liste-filtre (filterEvent)="store($event)"></app-ma-liste-filtre>

      <div class="row">

        <div [routerLink]="['/selection', media.media.typeMedia, media.media.idTmdb ]"
             *ngFor="let media of mediaMaListe$ | async" class="col-12 col-md-3 g-4">
          <div class="card h-100">
            <!--      <div class="card" routerLink="/selection">-->
            <img [title]="media.media.titre" [src]="media.media.cheminAffichePortrait | printImg"
                 [alt]="media.media.titre">

            <div class="card-body">
              <h2>{{ media.media.titre }}</h2>

              <h3 class="line-container">
          <span *ngFor="let genre of media.media.genreList"
                class="badge rounded-pill text-bg-secondary">
                    {{ genre.nomGenre }}</span>
              </h3>
              <h3 class="line-container">
          <span *ngFor="let tag of media.etiquetteList"
                class="badge rounded-pill text-bg-info">
                    {{ tag.nomTag }}</span>
              </h3>
            </div>

            <div>
              <div class="d-flex justify-content-center align-items-center">
                <h2>
          <span class="badge rounded-pill text-bg-warning">
            {{ media.statutMedia | mapBackendStatutToIhm | uppercase }}</span>
                </h2>
              </div>
              <div class="text-center">
                <div *ngIf="media.typeMedia === 'SERIE' && (media.numeroSaison != 0 || media.numeroEpisode != 0)">
                  <h3>Saison: <span>{{media.numeroSaison}}</span>
                    <span *ngIf="(media.numeroEpisode != 0)"><br/>Episode: {{media.numeroEpisode}}</span>
                  </h3>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>


    <div *ngIf="!((mediaMaListe$ | async)?.length)" class="text-center">
<!--      <app-chargement-en-cours [message]="'Chargement en cours...'"></app-chargement-en-cours>-->
      <h2>Vous n'avez aucun média dans votre sélection</h2>
      <button [routerLink]="['/search']" class="col-4 btn btn-primary">Recherche films et séries</button>
    </div>

  </div>

</div>






