<div>
  <input #userInput (keyup)="onKeyupStringOfMovie(userInput.value)"
         class="form-control"
         type="text" placeholder="rechercher des films ou séries...">

  <!-- afficher la liste des films-->
  <ul *ngIf="mediasResult.length>0"class="list-group">
    <li *ngFor="let media of mediasResult"
        class="list-group-item list-group-item-action list-group-item-light">
      <a routerLink="/detail">{{ media.titre }}</a>   //TODO page de détail du film ou de la série
    </li>
  </ul>
</div>
