
<div class = "container">
  <div class="row">
    <div class="col-md-12 offset-md-3">

      <form [formGroup]="registerForm" (submit)="register($event)">

        <div class="mb-3">
              <label for="nom-id" class="form-label">Votre nom</label>
              <input id="nom-id" formControlName="nom" type="text" class="form-control">
              <p *ngIf="registerForm.controls['nom'].hasError('required') && isFormSubmitted"
                 class="error">Veuillez renseigner un nom</p>
        </div>


        <div class="mb-3">
              <label for="prenom-id" class="form-label">Votre prénom</label>
              <input id="prenom-id" formControlName="prenom" type="text" class="form-control">
              <p *ngIf="registerForm.controls['prenom'].hasError('required') && isFormSubmitted"
                 class="error">Veuillez renseigner un prénom</p>
        </div>


        <div class="mb-3">
          <label for="email-id" class="form-label">Votre Email</label>
          <input id="email-id" formControlName="email" type="text" class="form-control">
          <p *ngIf="registerForm.controls['email'].hasError('required') && isFormSubmitted"
             class="error">Veuillez renseigner une adresse mail</p>

          <p *ngIf="registerForm.controls['email'].hasError('email') && isFormSubmitted"
             class="error">Veuillez renseigner un email valide</p>
        </div>


        <div class="mb-3">
          <label for="pwd-id" class="form-label">Votre mot de passe</label>
          <div>
            <ul class="password-indicator">
              <li> doit contenir au moins 8 caractères.</li>
              <li> doit contenir au moins une lettre majuscule.</li>
              <li> doit contenir au moins une lettre minuscule.</li>
              <li> doit contenir au moins un chiffre.</li>
              <li> doit contenir au moins un caractère spécial.</li>
            </ul>
          </div>
          <div class="input-group">
            <input id="pwd-id" formControlName="password" type="password" class="form-control">
            <div class="input-group-append">
            <span *ngIf="registerForm.controls['password'].valid" class="input-group-text validation-icon">
                <i class="fas fa-check"></i>
            </span>
            </div>
          </div>
            <p *ngIf="registerForm.controls['password'].hasError('required') && isFormSubmitted"
               class="error">Veuillez renseigner un mot de passe</p>

<!--          <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">-->
            <div *ngIf="(registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">

<!--            <p *ngIf="registerForm.controls['password'].hasError('required') && isFormSubmitted"-->
<!--               class="error">Veuillez renseigner un mot de passe</p>-->

            <p *ngIf="registerForm.controls['password'].hasError('minlength') && isFormSubmitted"
               class="error">le mot de passe doit contenir 8 caractères minimum</p>

            <p *ngIf="registerForm.controls['password'].hasError('pattern') && isFormSubmitted"
               class="error">Veuillez renseigner un mot de passe valide</p>

          </div>
        </div>


        <div class="mb-3">
          <label for="confirmPassword">Confirmez le mot de passe</label>

          <div class="input-group">
            <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" >
            <div class="input-group-append">
            <span *ngIf="registerForm.controls['confirmPassword'].valid && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)" class="input-group-text validation-icon">
                <i class="fas fa-check"></i>
            </span>
            </div>
          </div>

          <p *ngIf="registerForm.controls['confirmPassword'].hasError('required') && isFormSubmitted"
             class="error">Veuillez confirmer le mot de passe</p>

<!--          <div *ngIf="registerForm.controls['confirmPassword'].invalid && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)">-->
          <div *ngIf="(registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)">

<!--            <p *ngIf="registerForm.controls['confirmPassword'].hasError('required') && isFormSubmitted"-->
<!--               class="error">Veuillez confirmer le mot de passe</p>-->

            <p *ngIf="registerForm.controls['confirmPassword'].hasError('mismatch') && isFormSubmitted"
               class="error">Les mots de passe ne correspondent pas</p>
          </div>
        </div>

<!--        <button type="submit" class="btn btn-light" [disabled]="registerForm.invalid" >S'inscrire</button>-->
        <button type="submit" class="btn btn-light">S'inscrire</button>

      </form>


    </div>

  </div>

</div>

